/* 	>>><<<
	ABOUT PAGE ELEMENTS
	>>><<< */

.about-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 80%;
    grid-gap: 40px;
    margin: 0 auto;
}

#liz-photo {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.about-container {
    text-align: left;
}

.about-grid__item {
    padding: 0;
}

.about-grid__item:first-child {
    margin-bottom: 10px;
}

.about-title {
    text-align: left;
    margin-top: -10px;
}

.resume-link {
    font-size: 16px;
    font-weight: 500;
}

.download-icon {
    width: 16px;
    margin-bottom: -2.5px;
}


/* 	>>><<<
	RESPONSIVE ELEMENTS
	>>><<< */

@media all and (min-width: 1860px) and (max-width: 1980px) {
    #liz-photo {
        width: 120%;
        transform: translateX(-60px);
    }
}

@media all and (min-width: 2170px) and (max-width: 2290px) {
    #liz-photo {
        width: 120%;
        transform: translateX(-80px);
    }
}

@media all and (max-width: 1374px) and (min-width: 1301px) {
    #liz-photo {
        width: 116%;
        transform: translateX(-60px);
    }
}

@media all and (max-width: 1220px) {
    .about-grid {
        max-width: 90%;
    }
}

@media all and (max-width: 1110px) {
    .about-grid {
        display: block;
        position: relative;
    }

    /* couldn't get image to float to bottom of container */
    /*.about-grid__item:first-child {
        height: 100%;
        float: left;
        display: flex;
        align-items: flex-end;
        shape-outside: inset(calc(100% - 310px) 0 0);
        background-color: palegoldenrod;
    }*/

    .about-grid__item:first-child {
        height: 100%;
        float: left;
        display: flex;
        align-items: flex-end;
    }

    #liz-photo {
        height: 330px;
        margin: 10px 20px 0 0;
    }
}

@media all and (max-width: 912px) and (min-width: 475px) and (min-height: 1024px) {
    .about-grid {
        margin-top: 10%;
    }
}

@media all and (max-width: 810px) {
    .about-grid {
        max-width: 100%;
    }
}

@media all and (max-width: 646px) {
    #liz-photo {
        height: 260px;
    }
}

@media all and (max-width: 600px) {
    @media all and (min-width: 521px) {
        .about-grid {
            padding: 20px 20px 0 20px;
        }

        #liz-photo {
            margin-top: 0px;
        }
    }

    .resume-link {
        font-size: 14px;
    }

    .download-icon {
        width: 14px;
    }
}

@media all and (max-width: 520px) {
    #liz-photo {
        width: 166px;
        height: 166px;
        object-position: 50% 20%;
    }

    .resume-link {
        margin-bottom: 30px;
    }
}

@media all and (max-width: 455px) {
    .about-grid__item:first-child {
        float: none;
        justify-content: center;
        margin-bottom: 30px;
    }

    #liz-photo {
        margin: 0;
    }

    #about-header {
        text-align: center;
    }

    .about-container h1 {
        text-align: center;
    }
}

@media all and (max-width: 420px) {
    .resume-link {
        font-size: 12px;
    }

    .download-icon {
        width: 12px;
    }
}