main {
    padding: 0;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    margin: 0;
    padding: var(--margin) var(--double-margin) var(--half-margin) var(--double-margin);
    justify-content: center;
    align-items: center;
    position: relative;
}

.portfolio-grid__item {
    min-height: auto;
    margin: 0;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.portfolio-grid__item:first-child {
    padding-right: 40px;
    text-align: right;
}

.porfolio-grid__item__text {
    padding-left: 40px;
    /* border-left: 1px solid black; */
}

.screenshot {
    max-width: 100%;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.multi-screenshot {
    margin-top: 40px;
}

.porfolio-grid__item__header {
    display: flex;
    align-items: center;
}

.portfolio-title {
    text-align: left;
}

.github-button {
    display: block;
    margin-top: 20px;
    position: relative;
}

.portfolio-button--github {
    width: 30px;
    position: relative;
    transition: all ease-in 0.2s;
}

.portfolio-button--github:hover,
.portfolio-button--github:focus {
    opacity: 80%;
    transform: scale(1.1);
}

.line-vertical {
    position: absolute;
    top: var(--margin);
    left: 50%;
    width: 1px;
    background: black;
    height: 75%;
}

.arrow {
    position: absolute;
    font-size: 60px;
    bottom: 80px;
    color: black;
    text-decoration: none;
    transition: all ease-in 0.2s;
}

.arrow:visited {
    color: black;
}

.arrow:hover,
.arrow:focus {
    opacity: 75%;
    transform: scale(1.1);
}

.left-arrow {
    left: var(--margin);
}

.right-arrow {
    right: var(--margin);
}