/* VARIABLES */
:root {
    --background-color: #f0eae6;
    /* previous: #ede4d3; */
    --primary-color: #597052;
    /* previous: maroon #782323; */
    --secondary-color: #c8d3aa;
    --dark-grey: #2b2b2b;

    --margin: 80px;
    --half-margin: 40px;
    --threequarter-margin: 60px;
    --double-margin: 160px;
    --triple-margin: 240px;
}


* {
    box-sizing: border-box;
}



/* 	>>><<<
	GENERAL ELEMENTS
	>>><<< */

body {
    background-image: url('../img/LS_background_image.jpg');
    background-color: var(--background-color);
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.page-body {
    /* this is for the footer */
    position: relative;
    min-height: 100vh;
}

h1 {
    font-weight: normal;
    font-family: 'Forum', serif;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: bold;
}

.page-main {
    animation: 0.6s ease-in fadeIn;
    padding: var(--margin) var(--margin) 20% var(--margin);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main h1,
main h2,
main h3 {
    text-align: center;
}

a {
    color: #44573e;
}

a:visited {
    color: var(--primary-color);
}

a:hover,
a:focus {
    text-decoration: none;
}

a:active {
    color: #628558;
}

.image {
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}



/* 	>>><<<
	HEADER ELEMENTS
	>>><<< */

.page-header {
    display: flex;
    width: 100%;
    height: var(--margin);
    padding: 0 var(--margin);
    border-bottom: 1px solid gray;
    background-color: white;
}

.page-header__item {
    height: 100%;
    margin: 0;
}

.page-header__home {
    text-decoration: none;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
}

.page-header__home p {
    color: black;
    font-family: 'Forum', serif;
    font-size: 40px;
    margin: 0;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

.navigation-list li a {
    color: black;
}

.navigation-list__item {
    text-decoration: none;
    font-size: 18px;
}

/* Nav link animation */
.navigation-list__item::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    opacity: 0;
    transform: translateY(-6px);
    transition: all 0.2s;
}

.navigation-list__item--active::after {
    transform: translateY(0px);
    opacity: 1;
}

.navigation-list__item:hover::after,
.navigation-list__item:focus::after {
    transform: translateY(0px);
    opacity: 1;
}

.navigation-list__item--active {
    font-weight: 500;
}


/* 	>>><<<
	ABOUT PAGE ELEMENTS
	>>><<< */

.about-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    max-width: 80%;
    grid-gap: 40px;
    margin: 0 auto;
}

#liz-photo {
    max-width: 100%;
}

.about-container {
    text-align: left;
}

.about-grid__item {
    padding: 0;
}

.about-title {
    text-align: left;
    margin-top: -10px;
}

.resume-link {
    font-size: 16px;
    font-weight: 500;
}

.download-icon {
    width: 16px;
    margin-bottom: -2.5px;
}


/* 	>>><<<
	CONTACT PAGE ELEMENTS
	>>><<< */

.contact-grid_item {
    display: inline-block;
    width: 50%;
}

@supports (display: grid) {
    .contact-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: 0;
    }

    .contact-grid__item {
        width: auto;
        min-height: auto;
        margin: 0;
        padding-bottom: 20px;
    }
}

.contact-list {
    margin: 60px auto 0px;
    line-height: 1.6;
    text-align: right;
}

#contact-form {
    margin: var(--half-margin) 0px 0px;
    text-align: left;
}

.user-input {
    max-width: 170px;
}

#contact-form p {
    margin-top: 0px;
    font-size: 12px;
}



/* 	>>><<<
	BUTTONS
	>>><<< */

button,
.button {
    border: none;
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    cursor: pointer;
    opacity: 0.85;
}

.button:active {
    color: white;
    opacity: 1;
}

.button:visited {
    color: white;
}

.button {
    margin-top: 10px;
}

.button__secondary {
    background-color: var(--secondary-color);
    color: var(--dark-grey);
}



/* 	>>><<<
	FOOTER ELEMENTS
	>>><<< */

.footer-mountains {
    width: 100%;
    z-index: -1;
    position: absolute;
    transform: translateY(-90%);
}

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    margin: 0;
    width: 100%;
}

.email {
    color: white;
    font-size: 18px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-link {
    margin-left: 10px;
}

.footer-link__image {
    width: 30px;
}



/* 	>>><<<
	RESPONSIVE ELEMENTS
	>>><<< */

@media all and (min-width: 1500px) {
    .page-main {
        padding: var(--margin) var(--double-margin) 20% var(--double-margin);
    }
}

@media all and (min-width: 1660px) {
    .page-main {
        padding-left: 14%;
        padding-right: 14%;
    }
}

@media all and (min-width: 1860px) {
    .page-main {
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media all and (min-width: 2170px) {
    .page-main {
        padding-left: 24%;
        padding-right: 24%;
    }
}

@media all and (max-width: 1300px) {
    body {
        font-size: 13px;
    }
}

@media all and (max-width: 830px) {
    .page-header {
        padding: 0 var(--threequarter-margin);
    }
}

@media all and (max-width: 760px) {
    .page-header {
        padding: 0 var(--half-margin);
    }

    .page-main {
        padding: var(--threequarter-margin) var(--threequarter-margin) 20% var(--threequarter-margin);
    }
}

@media all and (max-width: 760px),
(max-height: 600px) {
    .email {
        font-size: 14px;
    }

    .footer-link__image {
        width: 24px;
    }
}

@media all and (max-width: 600px) {
    .page-header {
        height: var(--threequarter-margin);
    }

    .page-header__home p {
        font-size: 30px;
    }

    .navigation-list__item {
        font-size: 14px;
    }

    .page-main {
        padding: var(--half-margin) var(--half-margin) 20% var(--half-margin);
    }
}

@media all and (max-width: 520px) {
    .page-main {
        padding: var(--threequarter-margin) var(--threequarter-margin) 20% var(--threequarter-margin);
    }

    .contact-grid {
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .contact-grid__item {
        width: 200px;
        padding: 0px;
        justify-self: center;
    }

    .contact-list {
        text-align: left;
        margin-top: 20px;
    }
}

@media all and (max-height: 425px) {
    .contact-list {
        margin-top: 10px;
    }

    #contact-form {
        margin-top: 0;
    }
}

@media all and (max-width: 474px) {
    .page-header {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0px;
        height: 110px;
    }

    .page-header__item {
        height: 40%;
    }

    .page-header__home {
        justify-content: center;
        margin-top: 6px;
    }

    .page-header__home p {
        font-size: 40px;
    }

    .page-header__item:last-child {
        text-align: center;
        justify-content: center;
        flex-grow: 0;
        align-items: center;
    }

    .navigation-list {
        margin: 6px 0 0 -10px;
        padding: 0;
    }

    .navigation-list__item {
        font-size: 16px;
    }

    .navigation-list li {
        margin-left: 8px;
    }
}

@media all and (max-height: 320px),
(max-width: 422px) {
    .email {
        font-size: 10px;
    }

    .footer-link__image {
        width: 18px;
    }
}

@media all and (max-width: 370px) {
    body {
        font-size: 12px;
    }

    .page-main {
        padding: var(--half-margin) var(--half-margin) 20% var(--half-margin);
    }
}

@media all and (max-width: 319px) {
    .page-header {
        height: 100px;
    }

    .page-header__home p {
        font-size: 30px;
    }

    .navigation-list {
        margin-top: 2px;
    }

    .navigation-list__item {
        font-size: 14px;
    }
}