/* Variables */

:root {
  --background-color: #ede4d3; /* tan */
  --primary-color: #782323; /* dark red */
  --secondary-color: #e0b354; /* orange */
  --dark-grey: #2b2b2b; /* dark grey */

  --bold: 700;
}


* {
	box-sizing: border-box;
}



/* >>>General elements<<< */

body {
	background-color: var(--background-color);
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.4;
}

h1 {
	font-size: 30px;
 	font-weight: var(--bold);
}

h2 {
 	font-size: 24px;
 	font-weight: var(--bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold);
}

main {
	padding: 40px 40px 20px;
	animation: 0.4s ease-in 0s 1 fadeIn backwards;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opactiy: 1;
  }
}

main h1, main h2, main h3 {
	text-align: center;
}

a {
  	color: #8c2727;
}

a:visited {
  	color: var(--primary-color);
}

a:hover, a:focus {
	text-decoration: none;
}

a:active {
  color: #b53131;
}



/* >>>Header elements<<< */

.page-header {
	display: flex;
	width: 100%;
	padding: 14px;
	border-bottom: 1px solid gray;
}

.page-header_item {
	flex: 0 1 200px;
	max-height: 70px;
}

.page-header_item:last-child {
	flex-grow: 1;
	text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-top: 6px;
}

.navigation-list li a {
	color: var(--primary-color)
}

.navigation-list__item {
  text-decoration: none;
}

/* Nav link animation */
.navigation-list__item::after {
	position: absolute;
	left: 0px;
	bottom: 0px;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  content: "";
  opacity: 0;
  transform: translateY(-6px);
  transition: all 0.2s;
}

.navigation-list__item--active::after {
	transform: translateY(0px);
  opacity: 1;
}

.navigation-list__item:hover::after, .navigation-list__item:focus::after {
	transform: translateY(0px);
	opacity: 1;
}

.navigation-list__item--active {
  font-weight: 500;
}



/* >>>Home page elements (unique)<<< */

#home-header {
	padding: 1%;
}

#home-main {
	animation: 0.7s ease-in 0.1s 1 fadeIn backwards;
}

#home {
	margin: 0 auto;
	padding: 50px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.bar {
	position: fixed;
	top: 0px;
  width: 15%;
  height: 100%;
  background: var(--primary-color);
  content: "";
}

.left-bar {
	left: 0px;
	animation: 1s ease-out 0.7s 1 slideDown backwards;
}

.right-bar {
	right: 0px;
	animation: 1s ease-out 0.7s 1 slideUp backwards;
}

#home__logo {
	flex: none;
	width: 300px;
	height: 105px;
	align-self: center;
}

#home__portrait {
	width: 250px;
	height: auto;
	border-radius: 50%;
	margin: 20px auto;
}

#home__description {
	font-size: 22px;
	font-style: italic;
	margin: 15px auto;
}

#home__navigation {
	text-align: center;
}

#home-navigation-list {
	list-style-type: none;
	margin-left: -54px;
}

#home-navigation-list li {
	position: relative;
	display: inline-block;
	margin-left: 15px;
	margin-top: 6px;
}

#home-navigation-list li a {
	font-size: 20px;
	color: var(--primary-color);
}

.home-navigation-list__item {
	text-decoration: none;
}

/* Homepage nav link animation */
.home-navigation-list__item::after {
	position: absolute;
	left: 0px;
	bottom: 0px;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  content: "";
  opacity: 0;
  transform: translateY(-6px);
  transition: all 0.2s;
}

.home-navigation-list__item:hover::after, .home-navigation-list__item:focus::after {
	transform: translateY(0px);
	opacity: 1;
}

/* Homepage animation */
@keyframes slideDown {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(0);
  }
}



/* >>>About page main elements<<< */

.about-container {
	text-align: center;
}

.about-list {
	list-style-type: none;
}

.about-list li {
	margin-left: -40px;
}



/* >>>Work page main elements<<< */

/* Grid fallback for older browsers */
.work-grid_item {
	display: inline-block;
	width: 33%;
}

@supports (display: grid) {
	.work-grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 20px;
		margin: 0;
	}

	.work-grid__item {
		background-color: var(--secondary-color);
		width: auto;
		min-height: auto;
		margin: 0;
		border-radius: 20px;
		text-align: center;
		padding-bottom: 20px;
	}
}



/* >>>Contact page main elements<<< */

.contact-grid_item {
	display: inline-block;
	width: 50%;
}

@supports (display: grid) {
	.contact-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 50px;
		margin: 0;
	}

	.contact-grid__item {
		width: auto;
		min-height: auto;
		margin: 0;
		padding-bottom: 20px;
	}
}

.contact-list {
	margin: 60px auto 0px;
	line-height: 1.6;
	text-align: right;
}

#contact-form {
	/*display: flex;*/
	margin: 40px 0px 0px;
	/*flex-direction: column;*/
	/*width: 200px;*/
	text-align: left;
}

.user-input {
	max-width: 170px;
}

#contact-form p {
	margin-top: 0px;
	font-size: 12px;
}



/* >>>Misc elements<<< */

button, .button {
	border: none;
	display: inline-block;
	font-family: inherit;
	font-size: 16px;
	background-color: var(--primary-color);
	color: white;
	text-decoration: none;
	padding: 10px;
	border-radius: 3px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);
	transition: 0.5s opacity;
}

button:hover, button:focus, .button:hover, .button:focus {
	cursor: pointer;
	opacity: 0.8;
}

.button {
	margin-top: 15px;
}

.button__secondary {
 	background-color: var(--secondary-color);
 	color: var(--dark-grey);
}



/* >>>Footer elements<<< */

.page-footer {
	clear: both;
	padding-top: 2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*background-color: var(--secondary-color);*/
}



/* Responsive elements */

@media all and (max-width 750px) {
	h1 {
		font-size: 22px;
	}

	.work-grid {
		grid-gap: 10px;
	}
}

@media all and (min-width: 500px) and (max-width: 750px){
  	.work-grid {
    	grid-template-columns: 1fr 1fr;
  	}

  	.profile__portrait {
		width: 200px;
	}
}

@media all and (max-width: 500px) {
	.page-header {
		flex-direction: column;
		justify-content: center;
	}

	.page-header_item:first-child {
		flex: none;
		width: 200px;
		height: 70px;
		align-self: center;
	}

	.page-header_item:last-child {
		text-align: center;
	}

	.navigation-list {
		margin-left: -40px;
	}

	.navigation-list li {
		margin-left: 5px;
		font-size: 14px;
	}

	.profile {
		flex-direction: column;
	} 

	.profile__portrait {
		margin: 0 auto;
		width: 180px;
	}

	.work-grid {
		grid-template-columns: 1fr;
	}

	.contact-grid {
		grid-template-columns: 1fr;
		grid-gap: 0px;
	}

	.contact-grid__item {
		width: 200px;
		justify-self: center;
	}

	.contact-list {
		text-align: left;
	}
}



/* Animations */

@keyframes color-change {
  0% {
   	fill: #edc655;
  } 50% {
   	fill: #fcffad;
  } 100% {
   	fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
	from {
		transform: translate(0, 50px);
	} to {
		transform: translate(200px, 50px);
	}
}

.cloud-front {
	animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
   	transform: translate(446px, 48px);
  } to {
   	transform: translate(100px, 48px);
  }
}

.cloud-back {
 	animation: 34s cloud-move-reverse infinite alternate linear;
}