/* 	>>><<<
		WORK PAGE ELEMENTS
		>>><<< */

/* Grid fallback for older browsers */
.work-grid__item {
    display: inline-block;
    width: 33%;
}

@supports (display: grid) {
    .work-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        justify-content: center;
        margin: 40px;
    }

    .work-grid__item {
        background-size: cover;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        min-height: auto;
        margin: 0;
        text-align: center;
        border-radius: 2px;
        padding-bottom: 20px;
        text-decoration: none;
        border: 1px solid black;
        transition: all 0.3s;
    }

    .work-grid__item:hover,
    .work-grid__item:focus {
        background-color: white;
    }

    .screenshot {
        width: 100%;
        margin: 0;
    }

    .work-grid__item__section {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: black;
        border-top: 1px solid black;
    }

    .work-grid__item__title {
        margin: 0;
        margin-top: 16px;
        font-weight: 400;
        font-size: 20px;
    }

    .work-grid__item__description {
        margin: 12px auto 8px;
    }

    .work-buttons {
        display: flex;
        flex-direction: row;
        width: 100px;
        justify-content: space-evenly;
    }

    .grid-button {
        width: 30px;
    }

    .word-grid__item:hover,
    .word-grid__item:focus {
        box-shadow: rgba(181, 145, 67, 1) 0px 8px 24px;
        width: 84%;
    }

    #your-project-here {
        grid-column: 2 / 2;
        grid-row: 3 / 3;
    }
}

/*
#your-project-here {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
    padding: 60px 0;
}
*/


/* 	>>><<<
	RESPONSIVE ELEMENTS
	>>><<< */

@media all and (max-width: 750px) {
    .work-grid {
        grid-gap: 10px;
    }

    #your-project-here {
        padding: 0px 0px 20px;
    }

    .work-grid {
        grid-template-columns: 1fr 1fr;
    }

    #your-project-here {
        grid-column: 1 / 3;
        grid-row: 4 / 4;
    }
}

@media all and (max-width: 520px) {
    .work-grid {
        grid-template-columns: 1fr;
    }

    #your-project-here {
        grid-column: 1 / 1;
        grid-row: 7 / 7;
    }
}